@model MVC5Course.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
    @Html.DisplayForModel()

    </dl>

    <h3>Html.Action</h3>
    @Html.Action("Index","Orders",new { ClientID=Model.ClientId })

    <h3>Html.Partial</h3>
    @Html.Partial("../Orders/Index", Model.Order.ToList())

    <h3>Html.Partial</h3>
    @Html.Partial("../Clients/ClientOrder", Model.Order.ToList())
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
